---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
---

{% include base_path %}

<h2 class="archive__item-title" itemprop="headline"> Research </h2>
<hr>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;">
  <tbody><tr>
    <td style="padding:5px;width:20%;horizontal-align:middle">
      <p align="center">
        <img src="https://pbs.twimg.com/profile_images/698162955553267714/AwoaqLMu_400x400.png" width="90"/>
      </p>
    </td>
    <td style="padding:5px;width:80%">
        <b><a class="pub1" href="http://mlsp.cs.cmu.edu/" rel="permalink">
          Machine Learning for Signal Processing Group</a></b>
        <br><p><a class="pub2"> <i>Carnegie Mellon University, LTI</i>, 2023</a> </p>
    </td>
  </tr>
  <tr>
      <td style="padding:5px;width:20%;horizontal-align:middle">
        <p align="center">
          <img src="https://uark-aicv.github.io/images/AICV_black.png" width="90"/>
        </p>
      </td>
      <td style="padding:5px;width:80%">
          <b><a class="pub1" href="https://uark-aicv.github.io/" rel="permalink">
            Artificial Intelligence and Computer Vision Lab</a></b>
          <br><p><a class="pub2"> <i>University of Arkansas, EECS</i>, 2020</a> </p>
      </td>
    </tr></tbody>
</table>

<h2 class="archive__item-title" itemprop="headline"> Internships </h2>
<hr>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;">
  <tbody><tr>
      <td style="padding:5px;width:20%;horizontal-align:middle">
        <p align="center">
          <img src="/images/t4.png" width="90"/>
        </p>
      </td>
      <td style="padding:5px;width:80%">
          <b><a class="pub1" href="https://tier4.jp/" rel="permalink">ML Engineering Intern</a></b>
          <br><p><a class="pub2"> <i>Tier IV, Inc.</i>, 2021~</a> </p>
      </td>
    </tr><tr>
      <td style="padding:5px;width:20%;horizontal-align:middle">
        <p align="center">
          <img src="/images/deloitte.jpeg" width="90"/>
        </p>
      </td>
      <td style="padding:5px;width:80%">
          <b><a class="pub1" href="https://www2.deloitte.com/global/en.html" rel="permalink">Consulting Intern</a></b>
          <br><p> <a class="pub2"><i>Deloitte Consulting</i>, 2022 </a></p>
      </td>
  </tr></tbody>
</table>

<h2 class="archive__item-title" itemprop="headline"> Teaching </h2>
<hr>
{% for post in site.teaching reversed %}
  {% if post.type == 'Teaching Assistant' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 class="archive__item-title" itemprop="headline"> Services </h2>
<hr>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;">
  <tbody><tr>
      <td style="padding:5px;width:20%;horizontal-align:middle">
        <p align="center">
          <img src="/images/tbp.png" width="90"/>
        </p>
      </td>
      <td style="padding:5px;width:80%">
          <b><a class="pub1" href="https://www.tbp.org/home.cfm" rel="permalink">Tau Beta Pi, The Engineering Honor Society</a></b>
          <br><p><a class="pub2"> <i>Arkansas Alpha</i>, 2017~</a> </p>
      </td>
    </tr></tbody>
</table>
