---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
---

{% include base_path %}

<h2 class="archive__item-title" itemprop="headline"> Research Assistant </h2>
<hr>
{% for post in site.research reversed %}
  {% if post.type == 'Research Assistant' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}

<h2 class="archive__item-title" itemprop="headline"> Internship </h2>
<hr>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:collapse;margin-right:auto;">
  <tbody><tr>
      <td style="padding:5px;width:25%;horizontal-align:middle">
        <p align="center">
          <img src="/images/t4.png" width="130"/>
        </p>
      </td>
      <td style="padding:5px;width:75%">
          <b><a href="https://tier4.jp/" rel="permalink">Perception for Autonomous Vehicle</a></b>
          <br><p> <i>Tier IV, Inc.</i>, 2021 </p>
      </td>
  </tr></tbody>
</table>

<h2 class="archive__item-title" itemprop="headline"> Teaching Assistant </h2>
<hr>
{% for post in site.teaching reversed %}
  {% if post.type == 'Teaching Assistant' %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
